# Entorno de Node — development | production | test
NODE_ENV=development

# Puerto donde escucha el server
PORT=3001

# Connection string de Postgres
# Para dev local apuntando al Docker Compose de este repo:
DATABASE_URL="postgresql://agendapp:agendapp_dev_password@localhost:5432/agendapp?schema=public"
